.text {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1);
}

.paragraph-list {
    width: 68px;
    height: 26px;
    border-radius: var(--radius-2);
    padding: 7px 14px;
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    border: none;

}

.title-modal {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    margin-bottom: 8px;
}

